# to use this consts - > change this file name to consts.py (remove .template)
# change all below to your info
class consts:
  DONE_STATUS = "DONE_STATUS"
  ERROR_UNKNOWN = 'ERROR_UNKNOWN'
  PUBSUB_INFO = {
      'gcp_keyfile': "/Users/admin/Documents/GitHub/GCP_PubSub_example/test-project-c64d9ZT3cfd.json",
      'project_id': "test-project",
      'subscription_name': "pythonapp"
  }